<ion-content>
  <ion-card class="welcome-card">
    <ion-card-content>
      <!-- Input with placeholder -->
      <ion-input [(ngModel)]="listType" placeholder="Type movie, book or character"></ion-input>
      <ion-button (click)="btnClicked()" expand="block">Show</ion-button>

    </ion-card-content>
    </ion-card>
    

      <ion-list>
          <ion-item *ngFor="let person of response; let i = index">
          <ion-label>{{ person.name }}</ion-label>
          <ion-button (click)="addToFavourites(person.name)">Add to favourites</ion-button>
        </ion-item>
      </ion-list>

</ion-content>



